* {
    margin: 0;
}

div {
    display: inline-block;
    background-color: #191970;;
    width: 20px;
    height: 20px;
}

#image-section {
    position: relative;
}
#text-box {
    position: fixed;
    height: 300px;
    font: #191970;
    width: 40%;
    text-align: center;
    top: 40vh;
    left: 30%;
    border-radius: 10px;
    border: 3px solid maroon;
    background-color: rgba(210,180,140,0.8);
}
#image-text {
    font-size: 100px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;
}

#image-subtext {
    margin-top: 0;
    font-size: 50px;
}

#data-declaration {
    font: #191970;
    font-size: 25px;

}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #191970;
    z-index: 100;
}

#overlay-box {
    display: block;
    border-top: 5px solid maroon;
    padding: 0;
    width: 80vw;
    margin: 100px auto;
}
.overlay-text {
    font-size: 50px;
    color: tan;
    text-align: center;
}

.fade-in {
    animation: fadeIn ease 1.2s;
    -webkit-animation: fadeIn ease 1.2s;
    -moz-animation: fadeIn ease 1.2s;
    -o-animation: fadeIn ease 1.2s;
    -ms-animation: fadeIn ease 1.2s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
 

@media only screen and (max-width: 600px) {
    #image-text {
      font-size: 50px;
    }
  }
